{
	"extends": ["plugin:svelte/recommended"],
	"parserOptions": {
		"extraFileExtensions": [".svelte"]
	},
	"ignorePatterns": [
		"tailwind.config.cjs",
		"svelte.config.js",
		"postcss.config.cjs",
		"/build",
		"/.svelte-kit",
		"/package"
	],
	"overrides": [
		{
			"files": ["*.svelte"],
			"parser": "svelte-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			}
		}
	]
}
