PORT=32546
# Used for oauth redirect urls when the external port <> internal port
EXTERNAL_PORT=
#for dev -> "localhost"
DOMAIN="example.com"
#for dev env leave empty
SUB_DOMAIN="api"

#for dev -> "http://localhost:5173"
WEB_ORIGIN="http://example.com"
#for dev -> "http://localhost:5173"
ORIGINS="http://example.com,http://api.example.com"

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
#Create admin user in db and enter credentials
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/frcn?schema=public"

# Any name e.g. FRCN.consent
CONSENT_COOKIE="NAME.consent"

# same name as in CONSENT_COOKIE e.g. FRCN.sid
SESSION_COOKIE="NAME.sid"

#random alphanumeric secret
SESSION_SECRET="SECRET"

#same name as in CONSENT_COOKIE e.g. FRCN.deviceid
DEVICE_TRACK_COOKIE="NAME.deviceid"



#can be left empty
ADMIN_DISCORD_ID=

#Application>OAuth2>General>Client information>Client ID
DISCORD_CLIENTID="CLIENTID"

#Application>OAuth2>General>Client information>Client Secret
DISCORD_SECRET="SECRET"

#Bot>Building-A-Bot>Token>Reset Token
DISCORD_TOKEN="TOKEN"

#chore commented
AWS_S3_BUCKET="bucket"
AWS_S3_REGION="region"
AWS_S3_KEY="KEY"
AWS_S3_SECRET="SECRET"