@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fractul */
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Hairline"),
		local("Fractul-Hairline"),
		url("/fonts/Fractul-Hairline.woff2") format("woff2"),
		url("/fonts/Fractul-Hairline.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Thin"),
		local("Fractul-Thin"),
		url("/fonts/Fractul-Thin.woff2") format("woff2"),
		url("/fonts/Fractul-Thin.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Light"),
		local("Fractul-Light"),
		url("/fonts/Fractul-Light.woff2") format("woff2"),
		url("/fonts/Fractul-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Regular"),
		local("Fractul-Regular"),
		url("/fonts/Fractul-Regular.woff2") format("woff2"),
		url("/fonts/Fractul-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Medium"),
		local("Fractul-Medium"),
		url("/fonts/Fractul-Medium.woff2") format("woff2"),
		url("/fonts/Fractul-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul SemiBold"),
		local("Fractul-SemiBold"),
		url("/fonts/Fractul-SemiBold.woff2") format("woff2"),
		url("/fonts/Fractul-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Bold"),
		local("Fractul-Bold"),
		url("/fonts/Fractul-Bold.woff2") format("woff2"),
		url("/fonts/Fractul-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul ExtraBold"),
		local("Fractul-ExtraBold"),
		url("/fonts/Fractul-ExtraBold.woff2") format("woff2"),
		url("/fonts/Fractul-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Black"),
		local("Fractul-Black"),
		url("/fonts/Fractul-Black.woff2") format("woff2"),
		url("/fonts/Fractul-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Hairline Italic"),
		local("Fractul-HairlineItalic"),
		url("/fonts/Fractul-HairlineItalic.woff2") format("woff2"),
		url("/fonts/Fractul-HairlineItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Thin Italic"),
		local("Fractul-ThinItalic"),
		url("/fonts/Fractul-ThinItalic.woff2") format("woff2"),
		url("/fonts/Fractul-ThinItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Light Italic"),
		local("Fractul-LightItalic"),
		url("/fonts/Fractul-LightItalic.woff2") format("woff2"),
		url("/fonts/Fractul-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Italic"),
		local("Fractul-Italic"),
		url("/fonts/Fractul-Italic.woff2") format("woff2"),
		url("/fonts/Fractul-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Medium Italic"),
		local("Fractul-MediumItalic"),
		url("/fonts/Fractul-MediumItalic.woff2") format("woff2"),
		url("/fonts/Fractul-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul SemiBold Italic"),
		local("Fractul-SemiBoldItalic"),
		url("/fonts/Fractul-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/Fractul-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Bold Italic"),
		local("Fractul-BoldItalic"),
		url("/fonts/Fractul-BoldItalic.woff2") format("woff2"),
		url("/fonts/Fractul-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul ExtraBold Italic"),
		local("Fractul-ExtraBoldItalic"),
		url("/fonts/Fractul-ExtraBoldItalic.woff2") format("woff2"),
		url("/fonts/Fractul-ExtraBoldItalic.woff") format("woff");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Fractul";
	src:
		local("Fractul Black Italic"),
		local("Fractul-BlackItalic"),
		url("/fonts/Fractul-BlackItalic.woff2") format("woff2"),
		url("/fonts/Fractul-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Hide number inner spin button for Chrome, Safari and Opera */
	.no-inner-spin::-webkit-inner-spin-button {
		display: none;
	}

	/* Hide number inner spin button for IE, Edge and Firefox */
	.no-inner-spin {
		appearance: textfield;
		-moz-appearance: textfield;
	}

	.clip-none {
		clip-path: none;
	}
}
